.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.user-container {
  border: 1px solid black;
  margin: 10px;
}

.nav-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.nav-container a {
  margin: 5px 30px;
  text-decoration: none;
  color: black;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 173px;
}

.login-form input {
  margin: 5px 0;
}

.login-form button {
  width: 100%;
  margin: 5px 0;
}

.register-container {
  display: flex;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 173px;
}

.register-form input {
  margin: 5px 0;
}

.register-form button {
  width: 100%;
  margin: 5px 0;
}
