html {
  box-sizing: border-box;
  height: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

#root {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.note-list {
  display: flex;
  background: silver;
  height: 100%;
}

.list-sidebar {
  display: flex;
  flex-direction: column;
  background-color: #d3d2d3;
  width: 21.5%;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  min-height: 100vh;
  height: 100vh;
}

.right-bar {
  border: 1px solid;
  background: #f2f1f2;
  width: 80%;
  padding-top: 35px;
  height: 100vh;
  min-height: 100%;
  overflow: scroll;
}

.note-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
/* May want to come back and replace display flex with inline-block */

#note-tabz {
  border: 1px solid gray;
  width: 170px;
  height: 175px;
  margin: 15px 5px;
  background: white;
  padding: 10px;
  text-align: left;
}

.sidebar-button {
  background: #2BC1C4;
  color: white;
  height: 45px;
  width: 200px;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
}

.sidebar-button.login-button {
  width: 250px;
}

.logout-button {
  background: firebrick;
  color: white;
  height: 45px;
  width: 200px;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  margin-left: 15px;
}

.note-list-header {
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
}

#note-tab-header {
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid lightgray;
  font-size: 18px;
}

#note-tab-body {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  width: 80%;
  line-height: 24px;
}

.title-input {
  display: block;
  height: 50px;
  width: 400px;
  margin-left: 100px;
  font-size: 18px;
}

.content-input {
  display: block;
  height: 300px;
  width: 85%;
  margin-left: 100px;
  font-size: 18px;
  word-break: break-all;
}

.testing-form {

}

#view-edit-linkz {
  text-decoration: none;
  color: black;
}

.save-create {
  float: left;
  margin-left: 100px;
}

.view-note-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 50px;
}

.view-note-button {
  color: white;
  height: 45px;
  width: 100px;
  background: #2BC1C4;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  margin-right: 20px;
}

.view-note-header {
  text-align: left;
  padding-left: 20px;
  font-size: 24px;
  margin-left: 25px;
}

.view-note-body {
  text-align: left;
  width: 90%;
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
  line-height: 32px;
  font-size: 18px;
}

#searchBar {
  border: 1px solid lightblue;
}

.sortCheck {
  display: inline-block;
}

.tagContainer {
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-top: 3px;
  margin-bottom: 50px;
}

.tagContainer .tagg {
  font-size: 85%;
  padding: 5px 10px;
  display: inline-block;
  margin: 0.25em 0.1em;
  background: #ddd;
  transition: all 0.1s linear;
}

.tagContainer .tagg:hover {
  background: #3af;
  color: white;
}

.tagContainer .tagg .close::after {
  content: '\00d7';
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  transform: scale(0.9);
}

.tagContainer .tagg .close:hover::after {
  color: red;
}

.tagContainer .mainInput {
  border: 0;
  outline: 0;
  padding: 0.5em;
  margin: 5px;
}

.tagForm {
  display: inline-block;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background: linear-gradient(to bottom, gray 10%, silver 100%)
}

.loginTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 300px;
  border: 2px solid ;
  background: firebrick;
  opacity: 0.9;
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
}
