.App {
  text-align: center;
  background-image: url(https://img-www.tf-cdn.com/show/2/friends.jpeg?_v=20180412182138&w=1024&h=512&dpr=1&auto=compress&fm=pjpg&fit=crop&crop=faces%2Ctop);
  background-color: #cccc;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 250px;
  height: 100px;
  color: whitesmoke;
  background-color: grey; 
}