.App {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.login-container {
  height: 100%;
}

.login-wrapper {
  height: 80%;
}

.log-in {
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  align-items: center;
  height: 40%;
}

.sign-up {
  height: 30%;
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  height: 5%;
  padding-top: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.input-box {
  height: 2rem;
  width: 30%;
  margin: 0.8rem;
}

.login-btn {
  margin: 10px 0 35px 0;
  width: 30%;
  height: 1.6rem;
}

.signUp-msg {
  margin-left: 1rem
}