.App {
  text-align: center;
  height: 800px;
  background-color: rgb(78, 47, 47);
}

.ring-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: rgb(189, 170, 67);
  background: radial-gradient(rgba(38, 41, 51, 0.6), rgba(38, 41, 51, 0.6)), url("https://images-na.ssl-images-amazon.com/images/I/81%2B9QP8nLXL._SL1500_.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 8px black;
}

.App-title {
  font-size: 2em;
}

/* newUser.css */
.input {
  padding-top: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
