.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.register-form {
  width: 30%;
  margin: 0 auto;
}

.register-button {
  background: #2BC1C4;
  color: white;
  border-radius: 6%;
  width: 100px
}

.home-button {
  background: #2BC1C4;
  color: white;
  border-radius: 6%;
  width: 100px
}

.register-buts {
  display: flex;
  justify-content: space-around
}