.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
  font-family: 'Pacifico', cursive;
  padding: 2%;

  

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}