.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button {
  color: #fff;
  background: #61dafb;
  width: 200px;
  height: 80px;
  font-size: 30px;
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}
