.unauthorizedContainer {
  margin: 30px auto;
}
.button {
  color: #fff;
  background: #61dafb;
  border: 2px solid #333;
  width: 200px;
  height: 80px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 8px;
}
