.User {
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.User-title {
  padding: 10px;
}

.User-input {
  padding: 10px 10px;
}

.User-button {
  margin: 10px;
  padding: 10px 30px;
  color: white;
  background: rgba(70, 176, 156, 1);
  border: none;
  border-radius: 10px;
  font-weight: bolder;
}