.App {
  text-align: center;
}

.navlink{
  color: green;
  text-decoration: none;
}

.navlink:hover{
  color: orange;
}

.current {
  color: rgb(174, 15, 189);
  text-decoration: underline;
}

.navBar{
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}