.App {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  min-width: 800px;
}

.navlink{
  color: green;
  text-decoration: none;
}

.navlink:hover{
  color: orange;
}

.current {
  color: rgb(174, 15, 189);
  text-decoration: underline;
}

.navBar{
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.user{
  margin: 15px auto;
  border: 2px solid rgb(48, 7, 161);
  width: 175px;
  height: 30px;
  background-color: rgb(226, 116, 193);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user:hover{
  border: 2px solidrgb(226, 116, 193);
  background: rgb(102, 66, 202);
  color: white;
  font-weight: bold;
}

.header{
  text-align: center;
}

.outerdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -5%;
}